*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 70%;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

section{
  margin-bottom: 5%
}

.container{
  margin: 2%;
  text-align: center;
}

.box{
  position: relative;
  width: 29%;
  min-height: 40%;
  margin: 1%;
  display: inline-block;
  cursor: pointer;
}

.cuore{
  position: absolute;
  width: 10%;
  top: 8%;
  right: 0;
  visibility: visible;
  z-index: 40;
  font-size: x-large;
  background-color: white;
}

.sconto{
  background-color: #eb0037;
  color: white;
  padding: 1%;
  position: absolute;
  left: 0;
  top: 90%;
  z-index: 40;
}

.sostenibilità{
  background-color: #00875a;
  color: white;
  position: absolute;
  padding: 1%;
  top: 90%;
  left: 15%;
  z-index: 40;
}

.sostenibilità2{
  background-color: #00875a;
  color: white;
  position: absolute;
  padding: 1%;
  top: 90%;
  z-index: 40;
}

.descrizione{
  height: 10%;
  width: 29%;
  margin-left: 4%;
  text-align: left;
}

.rosso{
  color: red;
}

.sbarra{
  text-decoration: line-through;
}

img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.a-1{
  position: relative;
  z-index: 30;
}

.a-2{
  position: absolute;
  left: 0;
  z-index: 20;
}

.a-1:hover{
  visibility: hidden;
}

.b-1{
  position: relative;
  z-index: 30;
}

.b-2{
  position: absolute;
  left: 0;
  z-index: 20;
}

.b-1:hover{
  visibility: hidden;
}

.c-1{
  position: relative;
  z-index: 30;
}

.c-2{
  position: absolute;
  left: 0;
  z-index: 20;
}

.c-1:hover{
  visibility: hidden;
}

.d-1{
  position: relative;
  z-index: 30;
}

.d-2{
  position: absolute;
  left: 0;
  z-index: 20;
}

.d-1:hover{
  visibility: hidden;
}

.e-1{
  position: relative;
  z-index: 30;
}

.e-2{
  position: absolute;
  left: 0;
  z-index: 20;
}

.e-1:hover{
  visibility: hidden;
}

.f-1{
  position: relative;
  z-index: 30;
}

.f-2{
  position: absolute;
  left: 0;
  z-index: 20;
}

.f-1:hover{
  visibility: hidden;
}

